<div class="container py-5">
    <div class="row">
        <div class="col-lg-6">
            <h2 class="mb-4">Câu chuyện của SportShop</h2>
            <p>SportShop được thành lập năm 2024 với mong muốn mang thiết bị thể thao chất lượng đến gần hơn với người Việt. Chúng tôi hợp tác trực tiếp với các thương hiệu uy tín để đảm bảo sản phẩm chính hãng, giá tốt và dịch vụ chăm sóc tận tâm.</p>
            <p>Trong 1 năm qua, chúng tôi đã phục vụ hơn 850.000 khách hàng tại 63 tỉnh thành, đồng hành cùng cộng đồng chạy bộ, gym và các câu lạc bộ thể thao học đường.</p>
        </div>
        <div class="col-lg-6">
            <div class="bg-light p-4 rounded">
                <h5 class="text-primary text-uppercase">Cam kết của chúng tôi</h5>
                <ul class="list-unstyled mt-3 mb-0">
                    <li class="mb-2"><i class="fa fa-check text-primary mr-2"></i>Sản phẩm chính hãng 100%</li>
                    <li class="mb-2"><i class="fa fa-check text-primary mr-2"></i>Đổi trả trong 7 ngày</li>
                    <li class="mb-2"><i class="fa fa-check text-primary mr-2"></i>Miễn phí giao hàng đơn từ 699.000đ</li>
                    <li class="mb-2"><i class="fa fa-check text-primary mr-2"></i>Hỗ trợ kỹ thuật và tư vấn luyện tập miễn phí</li>
                </ul>
            </div>
        </div>
    </div>
</div>

